/* Navigation header */

.navbar-brand > img {
    position:relative;
    top:-20px;
    padding-right:1em;
    float:left;
} 

/* / */

#front .lead {
    margin-top: 32px;
}

#front form {
    margin-bottom: 48px;
}

.alert-warning a {
    color: white;
    text-decoration: underline;
}

.contentwrap, .sidebarwrap {
    padding-top: 42px;
}

footer ul.pull-right li:last-child {
    margin-right: 0;
}

.top-alert {
    margin-top: 32px;
}

.top-alert + * {
    padding-top: 0px;
}

/* See http://stackoverflow.com/a/12121929/284340 */
.frame_small_outer   {width:45%;height:100%;background:#CCC; display: inline-block; margin: 4px; }
.frame_small_inner        {position:relative;}
.frame_small_inner .ratio {display:block;width:100%;height:auto;}
.frame_small_inner iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

#front h2 {
    margin-bottom: 32px;
}


/* /about */

#about {
}

/* /candidates */

#candidates > div {
    margin-top: 48px;
}

.candidate_list {
    margin-top: 20px;
}

#candidates .no_email p {
    margin-top: 10px;
}

.candidate_list a {
    margin-right: 8px;
}

#candidates .candidate {
    margin-top: 20px;
}
#candidates .candidate .name {
    font-size: 20px;
}
#candidates .candidate .emailthem {
    margin-top: 4px;
    float: left;
}

/* /upload_cv */

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.bar {
    height: 18px;
    background: green;
}


/* /show_cv */

/* See http://stackoverflow.com/a/12121929/284340 */
html,body        {height:100%;}
.frame_outer_wrapper   {width:100%;height:100%;margin:0 auto;background:#CCC;margin-top: 48px;}
.frame_inner_wrapper        {position:relative;}
.frame_inner_wrapper .ratio {display:block;width:100%;height:auto;}
.frame_inner_wrapper iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

