{% extends "layout.html" %}
{% block body %}
    <div id="about">

        <h1>Sending a CV is usually the very
            first step of a job application &hellip; 
            except for MPs!
        </h1>

        <p class="lead">Democracy Club's CV project is getting every candidate
        for Parliament to share their CV for the voting public.
        </p>

        <blockquote>&ldquo;To apply, please send your Curriculum Vitae.&rdquo;</blockquote>

        <p class="lead">Their future employers (you and me!) can then look at
        the CVs, and assess their skills and abilities before choosing who
        is best.
        </p>

        <h2>What can I do here?</h2>

        <p>You can browse the CVs we've already got, and
        ask your candidates to upload missing ones.
        </p>

        <h2>Who's behind this site?</h2>

        <p>It was first made by <a href="http://flourish.org/">Francis Irving</a>.
        He built a large part of the original TheyWorkForYou, back in the day.
        The flotilla of people at <a href="https://democracyclub.org.uk/about/">Democracy Club</a>
        provide support and infrastructure.
        </p>

        <h2>Is there a legal requirement?</h2>

        <p>It was a recommendation in Sir Christopher Kelly's Committee on
        Standards in Public Life that all candidates "should publish, at
        nomination, a register of interests including the existence of other
        paid jobs and whether they intend to continue to hold them, if
        elected". 
        </p>

        <p>Not quite a CV. We think a full CV will cover some of that, and
        also give useful background on education, job history and skills.
        The recommendation was followed up by 
        <a href="http://news.bbc.co.uk/1/hi/uk_politics/8583859.stm">government uidance</a>.
        </p>


        <h2>Candidates send their CV to their party already!</h2>

        <p>Quite often, yes. This is good evidence that they <i>have</i>
        a CV. It isn't enough &mdash; MPs work for you, not
        for their party.
        </p>

        <h2>What's the long term aim?</h2>

        <p>Ultimately, we'd like the public to be more involved in the
        recruitment of MPs in lots of ways. Perhaps we can increase the
        quality, giving Prime Ministers more choice of high calibre people for
        senior roles.
        </p>


    </div>
{% endblock %}

