{% extends "layout.html" %}
{% block title %} About {% endblock %}

{% block body %}
    <div id="about">

        <h2>Why are you collecting CVs?</h2>

        <p>Sending a CV is usually the very first step of a job application.
        </p>

        <p>We believe it should also be the first step when people apply to
        become an MP.</p>

        <p>Voters can then look at the CVs, and assess skills and
        background before choosing who is best.
        </p>

        <h2>What can I do here?</h2>

        <p>You can browse the CVs we've already got, and
        ask your candidates to upload missing ones.
        </p>

        <h2>Why should candidates do this?</h2>

        <p>To be helpful to voters, so they can choose the best candidate.
        </p>

        <h2>What is a CV?</h2>

        {% include 'this_is_a_cv.html' %}

        <h2>What's the long term aim?</h2>

        <p>Ultimately, we'd like the public to be more involved in the
        recruitment of MPs in lots of ways. The CV is just the start.
        The main <a href="http://democracyclub.org.uk/">Democracy Club</a>
        site has more.
        </p>

        <h2>Who's behind this site?</h2>

        <p>The <a href="http://www.theguardian.com/politics/blog/2010/may/04/general-election-2010">original idea</a> was Julian Todd's.
        <a href="http://flourish.org/">Francis Irving</a> made it, helped by
        <a href="http://treadsoft.ly/">Andy Lulham</a> and <a href="https://github.com/frabcus/mpcv/graphs/contributors">others</a>.
        It's part of the non-profit <a href="https://democracyclub.org.uk/about/">Democracy Club</a>,
        and uses data provided by <a href="https://yournextmp.com">YourNextMP</a>.
        </p>

        <h2>How can I help?</h2>

        <p>If you'd like to help market this site, or handle customer support,
        <a href="mailto:cv@democracyclub.org.uk">email us</a>.
        </p>

        <p>If you're a programmer, or you like reporting bugs in software,
        help out on our <a href="https://github.com/frabcus/mpcv">Github repository</a>.
        </p>


    </div>
{% endblock %}

{% block sidebar %}

    <h2>Contact us</h2>
    <p class="lead"><a href="mailto:cv@democracyclub.org.uk">cv@democracyclub.org.uk</a>

    <h2>Follow us</h2>
    <p class="lead"> <a href="https://twitter.com/democlubcvs">@democlubcvs</a></p>

    <h2>Media queries</h2>
    <p class=lead">07970 543358</p>

    <h2>Source code</h2>
    <p class="lead"> <a href="https://github.com/frabcus/mpcv">frabcus/mpcv</a></p>

{% endblock  %}
