{% extends "layout.html" %}
{% block body %}
    <div id="applicants">

        <h1>Applicants for job of MP for <br>{{ constituency.name }}</h1>
        <p><a href="/clear_postcode">I live somewhere else</a></p>

        <div class="no_email">

            <h2>Help find the emails of these applicants</h2>

            <div class="applicant_list">
                {% for applicant in applicants_no_email %}
                <div class="applicant">
                    <a href="https://yournextmp.com/person/{{ applicant.id }}/" class="btn btn-default" target="_blank">Add email</a>
                    <span class="name">{{ applicant.name }}</span> &mdash; <span class="party">{{ applicant.party}}</span>
                </div>
                {% endfor %}
            </div>

            <p>
                The "add" buttons take you to <a href="https://yournextmp.com/">YourNextMP</a>, log in and edit the email.
            </p>

        </div>

        <div class="no_cv">

            <div class="text-center alert alert-danger">Stuff below here doesn't work yet!</div>

            <h2>Ask these applicants to send in their CV</h2>

            <div class="applicant_list">
                {% for applicant in applicants %}
                <div class="applicant">
                    <a href="/email" class="btn btn-default emailthem" target="_blank">Email them</a>
                    <span class="name">{{ applicant.name }}</span> &mdash; <span class="party">{{ applicant.party}}</span>
                    <br><a href="/upload_cv/constituency/{{ constituency.id }}/applicant/{{ applicant.id }}">This is me, add my CV</a>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}

