{% extends "layout.html" %}
{% block title %} Archive {% endblock %}

{% block body %}
    <div id="archive">

        <h2>Archive of previous elections</h2>

        <p>Archives contain HTML index pages, thumbnails images and the CV documents themselves. 
        After downloading and unzipping them, browse here to start:
        </p>

        <p>
        <tt>archive-XXXX/cv.democracyclub.org.uk/index.html</tt>
        </p>

        <p>Some styling, such as fonts, and inline viewing of CVs requires an
        internet connection. Even without one though, you can download CVs,
        or directly browse them in the archive files.
        </p>

        <h3>General Election 2015</h3>
        
        Download archive: <a href="https://mpcv.s3.amazonaws.com:443/archive/democracy-club-cvs-archive-2015.zip">democracy-club-cvs-archive-2015.zip</a> 153Mb

    </div>
{% endblock %}

