{% extends "layout.html" %}
{% block title %} 
    Browse CVs
{% endblock %}

{% block wide %}
    
    <div id="browse" class="browse-{{ size }}">

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1>Browse CVs</h1>
            </div>

            <div class="col-sm-6 col-xs-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="{% if view == 'constituency' %}active {% endif %}">
                        <a href="{{ url_for("browse", view="constituency", size=size) }}">By Constituency</a>
                    </li>
                    <li role="presentation" class="{% if view == 'party' %}active {% endif %}">
                        <a href="{{ url_for("browse", view="party", size=size) }}">By Party</a>
                    </li>
                    <li role="presentation" class="{% if view == 'recent' %}active {% endif %}">
                        <a href="{{ url_for("browse", view="recent", size=size) }}">Recent</a>
                    </li>
                </ul>
            </div>
        </div>


        {% if cv_groups %}
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <a href="{{ url_for("browse", view=view, size="small") }}"
                    class="{% if size == 'small' %}active {% endif %}btn btn-sm btn-success" title="Small thumbnails">
                      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    </a>

                    <a href="{{ url_for("browse", view=view, size="medium") }}"
                    class="{% if size == 'medium' %}active {% endif %}btn btn-sm btn-success" title="Medium thumbnails">
                      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </a>

                    <a href="{{ url_for("browse", view=view, size="large") }}"
                    class="{% if size == 'large' %}active {% endif %}btn btn-sm btn-success" title="Large thumbnails">
                      <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

            {% for group in cv_groups %}
                {% if group.heading %}
                <h2>{{ group.heading }}</h2>
                {% endif %}
                <div class="row group_cvs">
                {% for cv in group.cvs %}
                    {% if size == 'large' %}
                    <div class="col-md-6 col-sm-12">
                    {% elif size == 'medium' %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                    {% elif size == 'small' %}
                    <div class="col-lg-1 col-sm-2 col-xs-3">
                    {% endif %}
                         {% import 'embed_cv.html' as embed_cv %}
                        {{ embed_cv.embed_cv(cv) }} 
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endif%}

        {% if constituencies %}
            {% for candidates in constituencies %}
                <h2><a href="/candidates/{{candidates[0].constituency_id}}">{{ candidates[0].constituency_name }}</a></h2>
                <div class="row">
                {% for candidate in candidates %}
                    <div class="col-xs-12 col-md-6 col-lg-5">
                        <span class="whole_name">
                            {% if candidate.has_cv %}<a href="/show_cv/{{candidate.id}}">{% endif %}
                            <span class="name">{{ candidate.name}}</span> 
                            {% if candidate.has_cv %}</a>{% endif %}
                            <span class="party">{{ candidate.party}}</span>
                        </span>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}

        {% endif%}

    </div>

{% endblock %}
