<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Democracy Club CV</title>

        <meta name="description" content="Before you vote, look at their CVs! This site helps MP candidates share their CV with voters." />
        <meta name="twitter:card" value="summary">
        <meta property="og:title" content="Democracy Club CV" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://cv.democracyclub.org.uk/" />
        <meta property="og:image" content="http://cv.democracyclub.org.uk/static/cv_snip.png" />
        <meta property="og:description" content="Before you vote, look at their CVs! This site helps MP candidates share their CV with voters." /> 

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootswatch.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">

        <script src="/static/jquery-1.11.2.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/main.js"></script>

        <link rel="icon" type="image/png" href="/static/dc_logo.png">

    </head>

    {% block allbody %}{% endblock %} 

</html>
