{% extends "layout.html" %}
{% import 'subscribe.html' as subscribe %}
{% block title %} {{ constituency.name }} candidates {% endblock %}

{% block wide %}

    {% if show_subscribe and not email_got and postcode %}
        {{ subscribe.subscribe(show_dismiss=True, from_email=from_email, postcode=postcode) }}
    {% endif %}

    <div class="candidates">
        <h1> {{ constituency.name }} candidates </h1>

        <div class="row cvblock">
             {% for candidate in candidates_have_cv %}
                 <div class="col-xs-6 col-sm-4 col-md-3 candidate">
                     <span class="name">{{ candidate.name }}</span> <br> <span class="party">{{ candidate.party}}</span>
                     {% import 'embed_cv.html' as embed_cv %}
                     {{ embed_cv.embed_cv(candidate.cv) }}
                 </div>            
             {% endfor %}
             {% for candidate in candidates_no_cv %}
                 <div class="col-xs-6 col-sm-4 col-md-3 candidate">
                     <span class="name">{{ candidate.name }}</span> <br> <span class="party">{{ candidate.party}}</span>
                     {% import 'embed_cv.html' as embed_cv %}
                     {{ embed_cv.embed_non_cv("/static/not-submitted-their-cv.png", "/upload_cv/" ~ candidate.id) }}
                 </div>            
             {% endfor %}
             {% for candidate in candidates_no_email %}
                 <div class="col-xs-6 col-sm-4 col-md-3 candidate">
                     <span class="name">{{ candidate.name }}</span> <br> <span class="party">{{ candidate.party}}</span>
                     {% import 'embed_cv.html' as embed_cv %}
                     {{ embed_cv.embed_non_cv("/static/not-submitted-their-cv.png", "/upload_cv/" ~ candidate.id) }}
                 </div>            
             {% endfor %}
        </div>

<!--        {% if not email_got and postcode %}
            {{ subscribe.subscribe(show_dismiss=False, from_email=from_email, postcode=postcode) }}
            {% endif %} -->

    </div>

{% endblock %}

