{% extends "layout.html" %}
{% import 'subscribe.html' as subscribe %}
{% import 'embed_cv.html' as embed_cv %}
{% block title %} {{ constituency.name }} candidates {% endblock %}

{% block wide %}

    {% if show_subscribe and not email_got and postcode %}
        {{ subscribe.subscribe(show_dismiss=True, from_email=from_email, postcode=postcode) }}
    {% endif %}

    <div class="candidates">
        <h1> {{ constituency.name }} candidates </h1>

        <div class="row cvblock">
             {% for candidate in candidates_have_cv %}
                {{ embed_cv.full_cv_block(candidate) }}
             {% endfor %}
             {% for candidate in candidates_no_cv %}
                {{ embed_cv.full_cv_block(candidate) }}
             {% endfor %}
             {% for candidate in candidates_no_email %}
                {{ embed_cv.full_cv_block(candidate) }}
             {% endfor %}
        </div>
    </div>

{% endblock %}

