{% extends "layout.html" %}
{% block title %} Check your email! {% endblock %}
{% block body %}

        <h1>Check your email!</h1>

        <p class="lead">
                We've sent you a link. Please click it, then upload your CV.
        </p>


        <p>We sent the email to <strong>{{ candidate.email }}</strong>.
        It sometimes takes a while to arrive. Please be patient, and
        check your spam folder. 
        </p>
        
        <p>Thanks for doing this &mdash; this check is important, so we know
        it's your CV.
        </p>



{% endblock %}

