{% extends "layout.html" %}
{% block title %} Email {{ constituency.name }} candidates who haven't submitted CVs{% endblock %}
{% block wide %}
    <div id="email_candidates">

        <form class="form-horizontal button-disabling-form" action="/email_candidates/{{ constituency.id }}" method="POST">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <h1>Email candidates who haven't submitted CVs in {{ constituency.name }}</h1>

                        <label class="col-sm-3 control-label" for="to">To</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ emails_list }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="from_email" class="col-sm-3 control-label">Your email</label>
                      <div class="col-sm-6">
                          <input id="from_email" name="from_email" type="email" value="{{from_email}}" class="form-control" {% if not from_email %}autofocus{% endif %}>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="subject" class="col-sm-3 control-label">Subject</label>
                      <div class="col-sm-9">
                          <input id="subject" name="subject" value="{{subject}}" {% if from_email and not subject %}autofocus{% endif %} class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>

                <div class="col-md-4">
                    {% if show_twitter_button %}
                    <a href="/tweet_candidates/{{ constituency.id }}" class="tweet-instead btn btn-lg btn-info"> Tweet them instead </a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">

                        <label class="col-sm-3 control-label" for="message">Message</label>
                        <div class="col-sm-9">
                            <p class="form-control-static dear-message">Dear {{ names_list }},</p>
                            <textarea id="message" name="message" class="form-control" rows=14 autofocus>{{ message }}</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success btn-lg" id="send-emails" data-loading-text="Sending...">
                                Send emails
                                {% if tempt_text %}
                                (and see the CVs!) 
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>

                <div class="col-md-4">
                    <h2>Writing an effective mail</h2>

                    <p>1. Think of an intriguing subject that will encourage them to open it, and make it clear you're local.
                    (<a href="/">I'm not local</a>)
                    </p>
                     <p>2. Edit the introduction to say more about yourself, <strong>making it clear you're in their constituency</strong>.</p>
                     <p>3. <strong>Say something unique</strong> about why you want their CV. 
                     <p>4. <strong>Sign off with your address</strong>, so they can see you're really from their constituency.</p>
                </div>
            </div>

        </form>
        </div>


    </div>
{% endblock %}
{% block sidebar %}

{% endblock %}
