{% macro embed_cv(cv) %}
    <div class="thumb">
    {% if cv.has_thumb %}
        <a href="/show_cv/{{ cv.person_id }}">
            <img class="thumbimg" src="{{ cv.thumb.url }}" />
        </a>
    {% else %}
        <a href="/show_cv/{{ cv.person_id }}">
            <img class="thumbimg" src="/static/blank-cv.png" />
        </a>
    {% endif %}
    <!-- CV uploaded: {{ cv.last_modified }} -->
    </div>
{% endmacro %}

{% macro embed_non_cv(image_url, href_url) %}
    <div class="thumb">
        <a href="{{ href_url }}">
            <img class="thumbimg" src="{{ image_url }}" />
        </a>
    </div>
{% endmacro %}

{% macro full_cv_block(candidate, size) %}
      {% if size == 'large' %}
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 candidate">
      {% elif size == 'medium' %}
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 candidate">
      {% elif size == 'small' %}
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 candidate">
      {% endif %}
         <span class="name">{{ candidate.name }}</span> <br> <span class="party">{{ candidate.party}}</span>
         {% if candidate.cv %}
             {{ embed_cv(candidate.cv) }}
         {% else %}
             {{ embed_non_cv("/static/not-submitted-with-button.png", "/upload_cv/" ~ candidate.id) }}
         {% endif %}
     </div>            
{% endmacro %}
