{% macro embed_cv(cv) %}
    <div class="thumb">
    {% if cv.has_thumb %}
        <a href="/show_cv/{{ cv.person_id }}">
            <img class="thumbimg" src="{{ cv.thumb.url }}" />
        </a>
    {% else %}
        <a href="/show_cv/{{ cv.person_id }}">
            <img class="thumbimg" src="/static/blank-cv.png" />
        </a>
    {% endif %}
    <!-- CV uploaded: {{ cv.last_modified }} -->
    </div>
{% endmacro %}

{% macro embed_non_cv(image_url, href_url) %}
    <div class="thumb">
        <a href="{{ href_url }}">
            <img class="thumbimg" src="{{ image_url }}" />
        </a>
    </div>
{% endmacro %}
