{% extends "layout.html" %}
{% block title %} CVs of General Election Candidates {% endblock %}

{% block wide %}

    <div id="front">

        <h1>Ask your MP candidates for their CV!</h1>

        <p class="lead">(Then see the ones we've got so far)</p>
        
        <p class="lead">
            Enter your postcode.
        </p>

        <form action="/candidates" method="GET" class="button-disabling-form">
            <div class="form-inline">
              <input id="postcode" name="postcode" placeholder="Postcode" class="input-lg form-control" autofocus>
              <button type="submit" class="btn btn-lg btn-success" id="submit-postcode" data-loading-text="Go">Go</button>
              <input type="hidden" name="from-front-page" value="1">
            </div>
        </form>

    </div>

    <div id="recent_cvs">

        <h2>Recently added CVs</h2>

        <div class="row">
            {% for cv in recent_cvs %}
                <div class="col-md-3 col-xs-6">
                    {% import 'embed_cv.html' as embed_cv %}
                    {{ embed_cv.embed_cv(cv) }}
                </div>
            {% endfor %}
        </div>

        <p id="browse_link">
            <a href="/browse/recent/medium">Browse all CVs&hellip;</a>
        </p>

    </div>

{% endblock %}
