{% extends "layout.html" %}
{% block body %}
    <div id="front">

        <h1>&ldquo;To apply, please send your CV.&rdquo;</h1>

        <h2>Unless you want to be an MP&hellip; Until now!</h2>

        <p class="lead">
            Enter your postcode to see CVs of candidates where you live.
        </p>

        <form action="/set_postcode" method="GET">
            <div class="form-group">
              <input id="postcode" name="postcode" placeholder="Postcode" class="form-control">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-default">View candidates</button>
            </div>
        </form>

    </div>
{% endblock %}

