{% extends "layout.html" %}
{% block title %} CVs of MPs {% endblock %}
{% block body %}
    <div id="front">

        <!-- <h1>&ldquo;To apply, please send your CV.&rdquo;</h1>

        <h2>Unless you want to be an MP&hellip; Until now!</h2>
        -->

        <h1>Candidates, share your CV!</h1>

        <p class="lead">This site makes it easy for MP candidates to increase
        trust in politics, by sharing their CV with voters.</p>


        <p class="lead">
            Enter your postcode.
        </p>

        <form action="/set_postcode" method="GET">
            <div class="form-group">
              <input id="postcode" name="postcode" placeholder="Postcode" class="form-control" autofocus>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">View candidates</button>
            </div>
        </form>


    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}
