<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CVs of MP candidates</title>

        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
    </head>

    <body>

        <div class="text-center alert alert-warning">MP CV is still pre-alpha. Email <a href="mailto:francis@flourish.org">Francis Irving</a> with comments, questions. Send pull requests to <a href="https://github.com/frabcus/mpcv">frabcus/mpcv</a>.</div>

        <div id="wrap">

            <div id="masthead">
              <div class="container">
                  <div class="row">
                    <div class="col-md-2 col-lg-3">
                    </div>
                    <div class="col-md-8 col-lg-6">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category, message in messages %}
                              <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}

                        {% block body %}{% endblock %}
                    </div>
                    <div class="col-md-2 col-lg-3">
                    </div>
                  </div>
               </div>
            </div>
        </div>

    </body>

</html>
