{% extends "layout.html" %}
{% block title %} {{ candidate.name }}'s CV, {{ candidate.constituency_name }}, MP Candidate, {{ candidate.party}} {% endblock %}

{% block allbody %}
<body>
    <div class="row">
       <div class="col-xs-2">
       </div>
       <div class="col-xs-8">
           {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
               {% for category, message in messages %}
                 <div class="top-alert alert alert-{{ category }}">{{ message }}</div>
               {% endfor %}
             {% endif %}
            {% endwith %}
       </div>
    </div> 


    <div class="navbar navbar-default navbar-fixed-top show-cv-navbar">
      <div class="container">
        <div class="navbar-header">

          <div class="pull-left">
             <span class="visible-lg-block visible-md-block hidden-sm hidden-xs">
                <a href="/candidates" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> More candidates</a>
             </span>
             <span class="hidden-lg hidden-md visible-sm-block visible-xs-block">
                <a href="/candidates" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i></a>
             </span>
          </div>

          <div class="navbar-brand">
             {{ candidate.name }}'s CV
          </div>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <p class="navbar-text">
             <span class="visible-lg-block visible-md-block hidden-sm hidden-xs">
                MP Candidate, 
                {{ candidate.constituency_name }},
                {{ candidate.party }}
             </span>
             <span class="hidden-lg hidden-md visible-sm-block visible-xs-block">
                {{ candidate.constituency_name }},
                {{ candidate.party }}
             </span>
          </p>

        </div>
      </div>
    </div>

    <div id="show_cv">

        <iframe class="showcvframe" src="http://docs.google.com/viewer?url={{ cv.url | urlencode}}&amp;embedded=true" frameborder="0" allowfullscreen></iframe>
        <!-- CV uploaded: {{ cv.date }} -->

   </div>


</body>
{% endblock allbody %}

