{% extends "layout.html" %}
{% block body %}
    <div id="show_cv">
        <h1>{{ candidate.name }}'s CV</h1>

        <!-- {{ cv.name }} -->

        <div class="frame_outer_wrapper">
            <div class="frame_inner_wrapper">
                <!-- a transparent image is preferable -->
                <img class="ratio" src="/static/transparent.gif"/>
                <iframe src="http://docs.google.com/viewer?url={{ cv.url | urlencode}}&embedded=true" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

{% endblock %}

