{% macro subscribe(show_dismiss, from_email, postcode) %}
<div class="get-updates row"><div class="col-xs-6">
<div class="panel panel-primary">
    <div class="panel-heading panel-title">
        Get updates for {{ postcode }}
    </div>
    <div class="panel-body">
        <form action="/updates_join" method="POST">
            <p class="form-group">
              <label for="subscribe-email" class="control-label">Email:</label>
              <input id="subscribe-email" name="email" type="email" value="{{ from_email }}" class="form-control">
            </p>

            <p class="form-group">
                <button type="submit" class="btn btn-primary" name="subscribe">Subscribe</button>
                {% if show_dismiss %}
                <button type="submit" class="btn btn-default" name="dismiss">Dismiss</button>
                {% endif %}
            </p>

            <p class="help-block">
                We'll email you when there are new CVs in your constituency,
                for your help getting all the CVs or for other site news.
            </p>
        </form>
    </div>
</div>
</div></div> 
{% endmacro %}
