{% extends "layout.html" %}
{% block title %} Tweet candidates {% endblock %}
{% block wide %}

    <div id="tweet_candidates">

        <h1>Tweet each candidate in turn</h1>

        <p class="lead">You can customise your messages, if you like.</p>

        {% for candidate in candidates_no_cv %}
            {% if candidate.twitter %}
               <h2>{{ candidate.name }} <span class="party">{{ candidate.party }}</span></h2>
                <p>
                    <a x-person-id="{{ candidate.id }}" class="btn btn-info btn-lg tweet" href="https://twitter.com/intent/tweet?url=http://cv.democracyclub.org.uk/upload_cv/{{ candidate.id }}&text={{ '.@' + candidate.twitter + ' I\'d love to see your CV before I vote, could you upload it here?'|urlencode}}&related={{ candidate.twitter }}">
                        Tweet @{{ candidate.twitter }}
                    </a>
                </p>
            {% endif %}
        {% endfor %}

        <p>
            <a href="/candidates?show_subscribe=1" class="done-button btn btn-lg btn-success">Done all</a>
        </p>

   </div>

   <script>window.twttr = (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0],
       t = window.twttr || {};
     if (d.getElementById(id)) return t;
     js = d.createElement(s);
     js.id = id;
     js.src = "https://platform.twitter.com/widgets.js";
     fjs.parentNode.insertBefore(js, fjs);
    
     t._e = [];
     t.ready = function(f) {
       t._e.push(f);
     };
    
     return t;
   }(document, "script", "twitter-wjs"));</script>

{% endblock %}
