{% extends "layout.html" %}
{% block title %} Tweet {{ constituency.name }} candidates {% endblock %}
{% block wide %}

    <div id="tweet_candidates">

        <h1>Tweet {{ constituency.name }} candidates without CVs</h1>

        <p class="lead">One at a time. You can customise each message, if you like.</p>

        {% for candidate in candidates_no_cv %}
            {% if candidate.twitter %}
               <h2>{{ candidate.name }} <span class="party">{{ candidate.party }}</span></h2>
                <p>
                    {% if have_cvs_count > 1 %}
                    <a x-person-id="{{ candidate.id }}" class="btn btn-info btn-lg tweet" href="https://twitter.com/intent/tweet?url=http://cv.democracyclub.org.uk/upload_cv/{{ candidate.id }}&text={{ '.@' ~ candidate.twitter ~ ' ' ~ have_cvs_count ~ ' other candidates in ' ~ constituency.name ~ ' have submitted their CVs, could you too?'|urlencode}}&related={{ candidate.twitter }}">
                    {% elif have_cvs_count > 0 %}
                    <a x-person-id="{{ candidate.id }}" class="btn btn-info btn-lg tweet" href="https://twitter.com/intent/tweet?url=http://cv.democracyclub.org.uk/upload_cv/{{ candidate.id }}&text={{ '.@' ~ candidate.twitter ~ ' another candidate in ' ~ constituency.name ~ ' has submitted their CV, could you too?'|urlencode}}&related={{ candidate.twitter }}">
                    {% else %}
                    <a x-person-id="{{ candidate.id }}" class="btn btn-info btn-lg tweet" href="https://twitter.com/intent/tweet?url=http://cv.democracyclub.org.uk/upload_cv/{{ candidate.id }}&text={{ '.@' ~ candidate.twitter ~ ' I\'d love to see your CV before I vote, could you upload it here?'|urlencode}}&related={{ candidate.twitter }}">
                    {% endif %}
                        Tweet @{{ candidate.twitter }}
                    </a>
                </p>
            {% else %}
               <h2>{{ candidate.name }} <span class="party">{{ candidate.party }}</span></h2>

               <a href="https://candidates.democracyclub.org.uk/person/{{candidate.id}}" class="btn btn-default btn-lg">Tell us {{ candidate.name }}'s Twitter username</a>
            {% endif %}
        {% endfor %}

        <p>
        <a href="/candidates/{{ constituency.id }}?show_subscribe=1" class="done-button btn btn-lg btn-success">Done all</a>
        </p>

   </div>

   <script>window.twttr = (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0],
       t = window.twttr || {};
     if (d.getElementById(id)) return t;
     js = d.createElement(s);
     js.id = id;
     js.src = "https://platform.twitter.com/widgets.js";
     fjs.parentNode.insertBefore(js, fjs);
    
     t._e = [];
     t.ready = function(f) {
       t._e.push(f);
     };
    
     return t;
   }(document, "script", "twitter-wjs"));</script>

{% endblock %}
