{% extends "layout.html" %}
{% block title %} Upload your CV {% endblock %}
{% block body %}
    <div id="upload_cv_confirmed">

        <h1>Hello, {{ candidate.name }} <a class="not_me" href="/clear_all">That’s not me</a></h1>

        {% if current_cv %}
        <p class="lead">Choose a new CV to replace your <a href="/show_cv/{{candidate.id}}">current</a> one.</p>
        {% else %}
        <p class="lead">Choose your CV to share.</p>
        {% endif %}

        <form id="form" method="POST" enctype="multipart/form-data" action="{{ upload_link}}">
          <a class="btn-file btn btn-lg btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            <span x-text-before="Select file...">Select file...</span>
            <input class="files" name="files" type="file">
          </a>
        </form>

        <p>By uploading your CV, you are agreeing that Democracy Club and its partners can publish
        it during the election, and as part of a historical archive after the election.
        </p>

        {% include 'this_is_a_cv.html' %}

    </div>
{% endblock %}

{% block sidebar %}
        <h2>Making your CV</h2>

        <p>You can use a variety of formats.</p>
        
        <ul>
            <li>A Word document or a PDF is perfect! </li>
            <li>Other document formats may work too.</li>
            <li>LinkedIn profiles can be <a href="https://help.linkedin.com/app/answers/detail/a_id/4281/~/printing-a-profile-and-recommendations">saved as PDF</a> first.
        </ul>

        <p>If all fails, <a href="/about">email us</a> an attachment.</p>

        <p>If you're not sure what to put, the National Careers Service has 
        <a href="https://nationalcareersservice.direct.gov.uk/advice/getajob/cvs/Pages/default.aspx">advice
            for jobseekers</a> on writing a CV.</p>

{% endblock %}
