{% extends "layout.html" %}
{% block title %} Upload your CV {% endblock %}
{% block body %}
    <div id="upload_cv">

        <h1>Hello, {{ candidate.name }} <a class="not_me" href="/clear_postcode">That’s not me</a></h1>

        <p class="lead">Choose your CV to share.</p>

        <form id="form" method="POST" enctype="multipart/form-data" action="{{ upload_link}}">
          <a class="btn-file btn btn-lg btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            <span x-text-before="Select file...">Select file...</span>
            <input class="files" name="files" type="file">
          </a>
        </form>

        <p>A Word document or a PDF is perfect! Other formats may work too.</p>

    </div>
{% endblock %}

