{% extends "layout.html" %}
{% block title %} Confirm your email {% endblock %}
{% block body %}
    <div id="upload_cv">

        <h1>Hello, {{ candidate.name }}</h1>

        <p class="lead">We'd love it if you would share your CV.</p>

        <p>When we say CV, we really do mean CV!</p>

        <p>A CV is a document with a separate, dated section for each job held
        with title, employer and nature of the role.</p>

        <form action="/upload_cv/{{ candidate.id }}" method="POST">
            <div class="form-group">
              <button id="confirm_email" type="submit" class="btn btn-success btn-lg">Share my CV</button>
            </div>
        </form>

        <p>We will send an email to <strong>{{ candidate.email }}</strong>.
        </p>

    </div>
{% endblock %}

