{% extends "layout.html" %}
{% block title %} {{ candidate.name }}, share your CV! {% endblock %}
{% block body %}
    <div id="upload_cv">

        <h1>Are you {{ candidate.name }}?</h1>

        <p class="lead">We'd love it if you would share your CV.</p>
        
        <form action="/upload_cv/{{ candidate.id }}" method="POST">
            <div class="form-group">
                <button id="confirm_email" type="submit" class="btn btn-success btn-lg">I am {{ candidate.name }}</button>
                &nbsp;
                <a href="/" class="btn btn-danger btn-lg">I am not</a>
            </div>
        </form>

        <p>We will email <strong>{{ candidate.email }}</strong> to confirm 
        (<a href="https://yournextmp.com/person/{{ candidate.id }}">wrong email</a>).
        </p>



        <h1 class="what_this">What's this about?</h1>

        <p class="lead">We're collecting every MP candidate's CV.</p>
        </p>

        <p>Visit the <a href="/">home page</a> to help out and see the CVs.
        </p>


    </div>
{% endblock %}

