{% extends "layout.html" %}
{% block title %} Upload your CV {% endblock %}
{% block body %}
    <div id="upload_cv">

        <h1>Hi, {{ candidate.name }}!</h1>

        <p class="lead">Drop your CV in here.</p>

        <span class="btn btn-primary fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select files...</span>
            <input id="fileupload" name="file" type="file" data-url="{{ upload_link }}">
        </span>

        <p>
            <div id="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </p>

        <script src="/static/jquery-1.11.2.min.js"></script>
        <script src="/static/jquery.ui.widget.js"></script>
        <script src="/static/jquery.iframe-transport.js"></script>
        <script src="/static/jquery.fileupload.js"></script>

        <script>
            $(function () {
                $('#fileupload').fileupload({
                    dataType: 'json',
                    done: function (e, data) {
                        console.log("done file upload ok, redirecting")
                        location.href = "{{ successful_link }}"
                    },
                    fail: function (e, data) {
                        $('.alert-danger').remove()
                        $('#upload_cv').prepend('<div class="alert alert-danger">There was a problem uploading your CV. Please try again later.</div>')
                    },
                     progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .bar').css(
                            'width',
                            progress + '%'
                        );
                    }
                });
            });
        </script>

        <p>A Word document or a PDF is best.</p>

    </div>
{% endblock %}

