{% extends "layout.html" %}
{% block body %}
    <div id="upload_cv">

        <h1>Hi, {{ candidate.name }}!</h1>

        <p class="lead">We need to confirm your email first.</p>

        <form action="/upload_cv/{{ candidate.id }}" method="POST">
            <div class="form-group">
              <button type="submit" class="btn btn-default">Confirm email</button>
            </div>
        </form>

        <p>We will send an email to <strong>{{ candidate.email }}</strong>. 
        </p>

    </div>
{% endblock %}

